#container {
	width: 400px;
	height: 300px;
	display: block;
	margin: 0 auto;
}

#my_site {
	color:red;
	background-color: blue;
	margin:0;
	
}

#text_container {
	display: block;
	background-color: red;
	width: 400px;
	height: 300px;
	margin: 0 auto;
}

#body {
	background-color: green;
}

p {
	
	margin: 0 0 0 0;
}

.headings {
	display: inline;
	background-color: red;
	margin: 0 auto;
}

