h1 {
	font-size: 50px;
	border: 3px solid black;
	border-radius: 20px;
	text-align: center;
	background-color: blue;
	color: white;
}

#my-p-tag {
	background-color: grey;
}

.done {
	color: purple;
	text-decoration: underline;
}

#my-p-tag a {
	font-weight: 900px;
	font-size: 40px;
}

#div-left {
	display: inline-block;
    height: 200px;
    width: 500px;
}

#div-right {
	display: inline-block;
    height: 200px;
    width: 500px;
}

#middle-div {
	height: 300px;
	width: 400px;
	margin: 0 auto;
}