<h1>Planets#show</h1>

	<%= render @planet %>
	
<br>

<%= link_to "Back", planet_path %> |
<%= link_to "Edit", edit_planet_path(@planet) %> |

<%= link_to "Destroy", @planet, method: :delete, data: { confirm: "Are you sure?" } %>