<h1>Edit form</h1>

<%= @post %>

<form action="/posts/<%= @post.id %>" method="POST">
	<label for="title">Title: </label>
	<input type="text" name="title" value="<%= @post.title %>">

	<label for="body"></label>
	<textarea name="body" placeholder="Post Body"></textarea>

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value ="UPDATE">

</form>