<h1>NEW POST</h1>

<form action="/posts" method="POST">
	<label for="title">Title: </label>
	<input type="text" name="title" placeholder="Post Title">

	<label for="body"></label>
	<textarea name="body" placeholder="Post Body"></textarea>

	<input type="submit" value ="Save">

</form>